.Totais {
    display: block;
    justify-content: space-between;
    color: #392b23;
}

.Card {
    margin: 15px auto auto auto;
    background: #ffffff;
}

.CardHeader {
    background: transparent;
    border-bottom: 1px solid #594336;
    display: block;
    justify-content: space-between;
    color: #392b23;
}

.CardTitle {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
    font-weight: 300;
    color: #392b23;
    vertical-align: middle;
}

.CardBlock {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.CardFooter {
    background: #423229;
    border-top: 1px solid #594336;
}

.CardFooter button {
    box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.5);
    border: 0;
}

.CardFooter button[type="submit"] {
    float: right;
}

.Buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}