.AuthToolbar {
    width: 100%;
    display: block;
    z-index: 10;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    transition: 0.5s ease all;
    position: fixed;
    top: 0;
    left: 0;
}

.AuthToolbar nav {
    display: flex;
    padding: 12px;
    background: #392b23;
    -webkit-box-shadow: 0 0 0 0 transparent ;
    -moz-box-shadow: 0 0 0 0 transparent ;
    -ms-box-shadow: 0 0 0 0 transparent ;
    box-shadow: 0 0 0 0 transparent ;
}

@media screen and (max-width: 1019px) {
    .AuthToolbar nav {
      flex-direction: row;
    }
}