.PassoPizzas {
    color: #594336;
    background: #ffffff;
}

/* .PassoPizzas label {
    color: #594336;
} */

.PassoPizzas input {
    border: 1px solid #594336;
    background-color: transparent;
    /* color: #594336; */
}

.PassoPizzas input:focus {
    border: 2px solid #594336;
    border-color: #594336;
    box-shadow: 0 0 0 0.0rem rgba(133, 82, 82, 0.5) !important;
}

.PassoPizzas select {
    border: 1px solid #594336;
    background-color: transparent;
    /* color: #594336; */
}

.PassoPizzas select:focus {
    border-color: #594336;
    box-shadow: 0 0 0 0.2rem rgba(133, 82, 82, 0.5);
}

.PassoPizzas div:focus {
    outline-style: none;
}

/* Transformações via CSS não são reproduzidas para state */
/* .PassoPizzas input[name=sigla] {
    text-transform: uppercase;
}

.PassoPizzas input[name=descricao] {
    text-transform: capitalize;
} */

.PassoPizzasFooter {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.PassoPizzasFooter button {
    margin-right: .50rem;
}

.Card {
    margin: 15px auto 15px auto;
    background: #eaf1f8;
    border-color: #eaf1f8;
}

.CardHeader {
    background: transparent;
    border-bottom: 1px solid #594336;
    display: flex;
    /* justify-content: space-between; */
}

.CardTitle {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
    font-weight: 300;
    color: white;
    vertical-align: middle;
}

.CardBlock {
    flex: 1 1 auto;
    padding: 0.75rem;
}

.CardFooter {
    background: #423229;
    border-top: 1px solid #594336;
}

.CircularButtonP {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.CircularButtonM {
    /* width: 38px; */
    height: 38px;
    padding: 8px 8px;
    /* border-radius: 50%; */
    text-align: center;
    /* font-size: 20px; */
    line-height: 1.33;
    margin-right: 8px;
    margin-bottom: 8px;
    font-weight: 200;
}

.CircularButtonG {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}