.Footer {
    background: #100c0a;
    margin: 0px;
    position: absolute;
    line-height: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 20px;
    padding: 10px 15px;
}