.NavigationItems {
    flex-direction: column;
}

@media (min-width: 1020px) {
    .NavigationItems {
        flex-direction: row;
    }
}

@media screen and (max-width: 1019px) {
    .NavigationItems {
      flex-direction: row;
    }
}