html, body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  color: #d4c3ba;
  direction: ltr;
  background: #392b23;
  background: -moz-radial-gradient(center, ellipse farthest-corner, #362921 0%, #291f19 100%);
  background: -webkit-radial-gradient(center, ellipse farthest-corner, #362921 0%, #291f19 100%);
  background: radial-gradient(ellipse at center, #362921 0%, #291f19 100%);
  font-weight: 400;
  background-attachment: fixed;
}
#root {
  height: 100%;
}

/* webkit scroolbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #33261f;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #4c392f;
}

/* webkit-autofill injeta estilos nao desejados*/